*
{
    padding: 0;
    margin: 0;
    
}
table
{
    margin-top: 4rem;
    width: 56vw;
    border-radius: 2rem;
    box-shadow: 0 0 20rem 20px red;
    margin-left: 12rem;
}
/* input
{
    background-color: black;
    border-bottom: 2px solid red;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
} */
.inputbr
{
    background-color: black;
    border-bottom: 2px solid red;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    width: 32rem;
    margin-left: 6rem;
    font-size: 25px;
    padding-top: 2.5rem;
    outline: none;
}
#Fnmerror
{
    color: red;
    position: absolute;
    top: 7rem;
    right: 25.5rem;
}
#lnmerror
{
    color: red;
    position: absolute;
    top: 12.4rem;
    right: 25.5rem;
}
#emailerror
{
    color: red;
    position: absolute;
    top: 17.4rem;
    right: 25.5rem;
}
#errornum
{
    color: red;
    position: absolute;
    top: 22.4rem;
    right: 25.5rem;
}
#errordate
{
    color: red;
    position: absolute;
    top: 29.4rem;
    left: 36.5rem;
}
#errortime
{
    color: red;
    position: absolute;
    top: 36.4rem;
    left: 36.5rem;
}
#errorpick
{
    color: red;
    position: absolute;
    top: 41.4rem;
    left: 49.5rem;
}
#errorradio
{
    color: red;
    position: absolute;
    top: 45.9rem;
    left: 43.5rem;
}
#errorage
{
    color: red;
    position: absolute;
    top: 45.9rem;
    left: 43.5rem;
}
::placeholder
{
    color: #ffffff75;
}
.lablen
{
    color: white;
    font-size: 30px;
    margin-left: 6rem;
    margin-top: 1.5rem;
}
.lablen1
{
    color: white;
    font-size: 30px;
    margin-left: 6rem;
    margin-top: 1.5rem;
}
.inputbr1
{
    background-color: black;
    border-bottom: 2px solid red;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    width: 12rem;
    margin-left: 6rem;
    font-size: 25px;
    outline: none;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.inputbr2
{
    background-color: black;
    border-bottom: 2px solid red;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    width: 12rem;
    margin-left: 6rem;
    font-size: 25px;
    padding-top: 0;
    outline: none;
}
.lablen2
{
    color: white;
    font-size: 30px;
    margin-left: 6rem;
    margin-top: 1.5rem;
}
.lablen3
{
    color: white;
    font-size: 30px;
    margin-left: 2rem;
}
.lablen4
{
    color: white;
    font-size: 30px;
    margin-top: 0;
}
.lablenr
{
    color: white;
    font-size: 30px;
    margin-top: 0;
    margin-left: 6rem;
}
.lablen5
{
    color: white;
    font-size: 30px;
    margin-left: 6rem;
    margin-top: 1rem;
}
.lablen6
{
    color: white;
    font-size: 30px;
    margin-left: 6rem;
    margin-top: 0   ;
}
input.lablen7
{
    
    margin-left: 6rem;
    
}
.lablen8 {
    margin-left: 0rem;
    margin-top: 1.5rem;
    font-size: 28px;
}
.lablen9
{
    margin-left: 11rem;
    margin-top: 0.5rem;
    font-size: 34px;
    width: 10rem;
    height: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    background: #fb0505db;
}
i
{
    color: green;
}